<div class="content-header">
  <div class="container-fluid">
    <div class="row mx-2">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="buttons m-3" style="width: 200px; height: 60px;">
          <select class="form-select" [(ngModel)]="selectedYear" (ngModelChange)="afficheParAnnee($event)">
            <option value="" disabled>Select Year </option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <!-- Add more options as needed -->
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
